.main {
  width: 100%;
  padding: 20px;
  margin: 0;
}

.container {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
}

.title {
  font-size: 32px;
  line-height: 45px;
  margin: 20px 10px;
  font-family: "PingFang SC";
}

.listContainer {
  width: 100%;
  min-width: 690px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
